<app-header></app-header>

<div class="min-h-screen bg-gradient-to-b from-purple-100 to-white flex flex-col items-center justify-center px-4 py-12">
  <!-- About Section -->
  <div class="text-center max-w-4xl mx-auto bg-white p-8 rounded-xl shadow-lg">
    <h1 class="text-4xl font-extrabold text-purple-600 mb-6">About Me</h1>
    <p class="text-lg text-gray-600 mb-4">
      Hi, I'm Andrea Benassi, a passionate individual with a love for technology and innovation. I specialize in fields like Machine Learning, Parallel Programming, and Quantum Computing. I'm always eager to dive into new challenges and push my limits to learn and grow.
    </p>

    <div class="text-lg text-gray-600 mb-6">
      <h2 class="text-2xl font-semibold text-purple-500 mb-4">Personal Interests</h2>
      <p>
        In my free time, I enjoy skiing, exploring new destinations, and spending quality time with friends. Traveling allows me to discover different cultures and gain new perspectives.
      </p>
    </div>

    <div class="text-lg text-gray-600">
      <h2 class="text-2xl font-semibold text-purple-500 mb-4">Who I Am</h2>
      <p>
        I'm a naturally curious person, always ready to embrace new opportunities and challenges. I believe in pushing my boundaries to achieve personal growth and to be at the forefront of technological advancements. With a strong passion for learning and a drive to make a positive impact, I strive to become the best version of myself.
      </p>
    </div>

    <!-- Call to Action -->
    <div class="mt-8">
      <a (click)="navigateTo('contact')" class="inline-block bg-purple-600 text-white font-semibold py-2 px-6 rounded-lg shadow-md hover:bg-purple-700 focus:outline-none focus:ring-4 focus:ring-purple-300 transition">
        Get in Touch
      </a>
    </div>
  </div>
</div>

<app-footer></app-footer>
