<footer class="bg-gray-800 text-white">
    <div class="max-w-7xl mx-auto py-6 px-4">
      <div class="flex justify-between items-center">
        <div class="text-sm">
          &copy; 2024 Autorizzo il trattamento dei miei dati personali ai sensi del Dlgs 196 del 30 giugno 2003 e dell’art. 13 GDPR
        </div>
        <div class="flex space-x-4">
          <a href="https://www.linkedin.com/in/andrea-benassi-78a03a237/" target="_blank" class="hover:text-gray-400">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
          <a href="https://www.instagram.com/magic.baddy_/" target="_blank" class="hover:text-gray-400">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>
